:root {
  --DarkBlueMain: hsl(222, 26%, 31%);
  --DarkBlueToggle: hsl(223, 31%, 20%);
  --DarkBlueScreen: hsl(224, 36%, 15%);
  --DesatBlueKeyBack: hsl(225, 21%, 49%);
  --DesatBlueKeyShadow: hsl(224, 28%, 35%);
  --RedKeyToggle: hsl(6, 63%, 50%);
  --RedKeyShadow: hsl(6, 70%, 34%);
  --GrayOrangeBack: hsl(30, 25%, 89%);
  --GrayOrangeShadow: hsl(28, 16%, 65%);
  --DarkGrayBlue: hsl(221, 14%, 31%);
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: var(--DarkBlueMain);
}

.calculator {
  margin: 0 auto;
  padding: 0;
}

.calculator #logo-theme-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator #logo-theme-select h1 {
  color: white;
  font-size: 32px;
  text-transform: lowercase;
}

.calculator #logo-theme-select #theme-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.calculator #logo-theme-select #theme-selector h2 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.calculator #logo-theme-select #theme-selector #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calculator #logo-theme-select #theme-selector #slider #selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.calculator #logo-theme-select #theme-selector #slider #selectors p {
  color: white;
  font-size: 14px;
}

.calculator #results {
  margin: 0 auto;
  width: 90%;
  background-color: var(--DarkBlueScreen);
  height: 5rem;
  border-radius: 10px;
}

.calculator #results #number-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 1.5rem;
  color: white;
}

.calculator #interface {
  background-color: var(--DarkBlueScreen);
  border-radius: 10px;
  margin: 2rem auto;
  padding: .5rem;
  width: 90%;
  min-height: 60vh;
}

.calculator #interface .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5;
      grid-template-rows: 5;
}

.calculator #interface .btn {
  color: var(--DarkGrayBlue);
  background-color: var(--GrayOrangeBack);
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: .7rem;
  -webkit-box-shadow: 0 6px var(--GrayOrangeShadow);
          box-shadow: 0 6px var(--GrayOrangeShadow);
  cursor: pointer;
}

.calculator #interface .btn:active, .calculator #interface #del:active, .calculator #interface #reset:active, .calculator #interface #equal:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 6px;
}

.calculator #interface #del, .calculator #interface #reset {
  color: white;
  background-color: var(--DesatBlueKeyBack);
  font-size: 16px;
  padding: 1rem;
  -webkit-box-shadow: 0 6px var(--DesatBlueKeyShadow);
          box-shadow: 0 6px var(--DesatBlueKeyShadow);
}

.calculator #interface #reset {
  padding: 1.5rem 3rem;
}

.calculator #interface #equal {
  font-size: 16px;
  padding: 1.5rem 3.7rem;
  color: white;
  background-color: var(--RedKeyToggle);
  -webkit-box-shadow: 0 6px var(--RedKeyShadow);
          box-shadow: 0 6px var(--RedKeyShadow);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */